.terminal {
  background-color: #000;
  color: rgb(255, 255, 255); 
  font-family: "Courier New", monospace;
  font-size: 24px;
  padding: 100px 20px 20px;
  height: 100vh;
  line-height: 1.5;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scrollbar-width: thin;
  scrollbar-color: rgb(66, 66, 66) rgb(54, 54, 54);
  scroll-behavior: smooth; 
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  max-height: calc(100vh - 120px)
}

.terminal::-webkit-scrollbar {
  width: 12px;
}

.terminal::-webkit-scrollbar-track {
  background: #000;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 6px;
}

.terminal::-webkit-scrollbar-thumb:hover {
  background-color: rgb(54, 54, 54);
}


.terminal pre {
  margin: 0;
  padding: 0;
}

.terminal form {
  display: flex;
  align-items: center;
}

.input-prefix {
  width: 275px;
  text-overflow: ellipsis;
  white-space-collapse: discard;
  display: block;
  font-family: monospace;
  white-space: pre;
}

.terminal input {
  background: none;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: "Courier New", monospace;
  font-size: 24px;
  white-space: pre-wrap;
  width: 100%;
  margin-left: 21px;
  display: block;
  font-family: monospace;
  white-space: pre;
}